:root {
	--widthMap: 700px;
}
.scottish-text {
	font-size: 24px;
	color: #0034de;
	letter-spacing: 0.4mm;
}
.scottish-text:hover {
	animation: changeColor 2s infinite;
	cursor: cell;
}
.title-introduction {
	color: #e3e3e3;
	font-size: 48px;
	margin-left: 100px;
	margin-top: 30px;
}
.paragraph-introduction {
	color: #e3e3e3;
	font-size: 20px;
	line-height: 150%;
	margin-left: 100px;
	margin-top: 15px;
	font-weight: 600;
}
.city_office {
	color: #0034de;
	font-size: 24px;
	letter-spacing: 0.4mm;
}


.info-title {
	font-size: 42px;
	color: #e3e3e3;
	margin-top: 60px;
	margin-left: 100px;
}
.choose-office {
	display: flex;
	gap: 50px;
	margin-left: 100px;
	margin-top: 60px;
	margin-right: 100px;
}

.baton {
	--font-color: #fff;
	--font-color-sub: #999;
	--main-color: #9d9d9d;
	--main-focus: #2d8cf0;
	background: #e3e3e3;
	border-radius: 5px;
	display: flex;
	text-wrap: balance;
	padding: 20px;
	gap: 10px;
	height: 250px;
	width: 400px;
	font-size: 34px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	& .address-style {
		font-size: 15px; 
		width: 50%;
	}
	&:hover {
		filter: opacity(0.7);
	}
}
.map_list {
	height: 500px;
	width: 100%;
	margin-left: calc(var(--widthMap) / 2);
	margin-top: 30px;
}

.glasgo,
.edin,
.newyork {
	display: none;
}

.active {
	display: block;
}
